.footer {

    background-color: $mainBlue;
    color: #fff;
    padding: .5rem 0;
    text-align: center;
    font-weight: 200;

    &__text{

        display: block;
        padding: 0 0 1rem 0;

        @mixin atMedium {

        display: inline;
        padding: 0 .5rem 0 0;

           
            
        }

    }
    
}

