.row{
    
    @mixin clear-fix;

    
    &--t-padding{

        padding-top: 80px;
     
    }

    

   @mixin atMedium {

    &__gutter{
        margin-right: -65px;
       }

    &__gutter > div {
        padding-right: 65px;
    }

    &__gutter--large{

        margin-right:-100px;
    }



    &__gutter--large > div{

       padding-right: 100px;
    }

   
    &__medium-4{

        width: 33.33%;
        float: left;

        &--large{
            width:35%
        }
    }

    &__medium-6{

        width: 50%;
        float: left;
    }

    &__medium-8{

        width: 66.66%;
        float: left;
        &--small{
            width:65%;
        }
    }
       
   }

   /*Special rule for column*/

   &__gutter--small{
    
    @mixin atMedium {
        margin-right:-10px;
       }

       @mixin atLarge {
        margin-right:-45px;
       }
   
    }

    &__gutter--small > div{
        
        @mixin atMedium {

    
            padding-right: 10px;
           
            
        }

        @mixin atLarge {

            padding-right: 45px;
            
        }



       
    } 

   

    


}

.full-length-coloumn{

    @mixin atMedium {

        display: flex;
        
    }

    & > div{

        float: none;
        display: flex;

    
}


}