.wrapper{
    padding:0 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    

    &--no-padding{

      padding:0;

      @mixin atMedium{
        padding:0 18px;
      }

    }

    &--b-margin{
      margin-bottom: 1rem;
      @mixin atSmall {
        margin-bottom: 4.0625rem;
      }
    }

    &--medium{
        max-width:970px;
    }

    .wrapper{

        padding:0;
    }
}